.button-sample, .button-about, .container-offer-div .button-offer, .container-about .button-about {
  border-radius: 6px;
  border-color: transparent;
  background-color: rgb(29, 128, 159);
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
}

.icon-sample, .icon-services-div .icon-services-span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: white;
  color: rgb(29, 128, 159);
  margin-bottom: 16px;
}

.icon-h-sample, .icon-services-div h4 {
  color: white;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
}

.icon-p-sample, .icon-services-div p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.icon-menu-button, .icon-scroll-box, .icon-menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 6px;
  position: fixed;
  right: 15px;
  color: white;
  transition: opacity 0.15s;
}

body {
  font-family: "Source Sans Pro";
}

.header-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container-about {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-about .text-about-1 {
  font-size: 88px;
  font-weight: 700;
  margin: 0px 4px;
  line-height: 105.6px;
  color: rgb(33, 37, 41);
}
.container-about h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  font-style: italic;
  margin-bottom: 48px;
}
.container-offer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0px;
}
.container-offer-div .offer-text1 {
  color: rgb(33, 37, 41);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 8px;
}
.container-offer-div .offer-text2 {
  color: rgb(33, 37, 41);
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 48px;
}
.container-offer-div span {
  color: rgb(29, 128, 159);
  text-decoration: underline;
}
.container-offer-div .button-offer {
  background-color: rgb(33, 37, 41);
}

.container-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0px;
  background-color: rgb(29, 128, 159);
}
.container-services .text-services {
  color: rgb(236, 184, 7);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.container-services .text-offer {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 48px;
}
.container-services .icon-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 110px;
       column-gap: 110px;
}

@media only screen and (max-width: 1000px) {
  .icon-services {
    grid-template-columns: 1fr 1fr;
  }
}
.icon-services-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.svg-heart,
.path-heart {
  height: 16px;
  width: 16px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.container-about .text-about-1 {
  font-style: normal;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 48px;
  line-height: 67.2px;
  color: rgb(33, 37, 41);
  text-align: center;
}

.container-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 150px;
}
.container-projects h3 {
  color: rgb(236, 184, 7);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.container-projects h2 {
  color: rgb(33, 37, 41);
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 48px;
}

.project-photos-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo-text-container {
  display: flex;
  cursor: pointer;
}

.text-container {
  position: absolute;
  transform: translate(80px, 276px);
  vertical-align: bottom;
}

.photo-text-main {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: white;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 15.36px;
  margin-bottom: 8px;
}

.photo-text {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: white;
  font-size: 19.2px;
  font-weight: 300;
  line-height: 28.8px;
}

.container-btns {
  text-align: center;
  background-color: rgb(29, 128, 159);
  padding: 120px 0px;
}
.container-btns h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 24px;
}
.container-btns .btn-clcme {
  background-color: rgb(248, 249, 250);
  padding: 20px 40px;
  font-size: 16px;
  color: black;
  margin-left: 24px;
  cursor: pointer;
  border-radius: 6px;
  transition: opacity 0.15s;
}
.container-btns .btn-lkme {
  background-color: black;
  padding: 20px 40px;
  font-size: 16px;
  color: rgb(248, 249, 250);
  margin-left: 24px;
  cursor: pointer;
  border-radius: 6px;
  transition: opacity 0.15s;
}

.btn-clcme:hover {
  opacity: 0.6;
}

.btn-lkme:hover {
  opacity: 0.6;
}

.map {
  width: 100%;
  height: 480px;
}

.footer-icons-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px;
}
.footer-icons-text p {
  color: rgb(108, 117, 125);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 30px;
  text-align: center;
}

.unlisted-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}

.list-items {
  margin-right: 8px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(29, 128, 159);
  color: white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  cursor: pointer;
}

.icon-menu-box {
  top: 15px;
}

.icon-menu {
  height: 16px;
}

.icon-scroll-box {
  bottom: 15px;
}

.icon-menu-box:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.icon-scroll-box:hover {
  background-color: rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=index.css.map */